// ====================================AboutUs=======================================================
.hero-main {
   background:
      linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
      url('../img/common/main-hero.jpg') center / cover no-repeat;
   @include adaptiveValue("padding-top", 106, 50);
   @include adaptiveValue("padding-bottom", 58, 40);
   position: relative;
   &::after{
      content:'';
      position: absolute;
      width: 28%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $darkBlue;
   }
   &::before{
      content:'';
      position: absolute;
      width: 87%;
      height: 59px;
      bottom: 0;
      left: 0;
      background-color: $darkBlue;
   }

   &__content {
      position: relative;
      z-index: 50;
      @include adaptiveValue("padding-bottom", 44, 10);
      position: relative;
      &::after{
         content:'';
         position: absolute;
         width: 93.50%;
         height: 2px;
         bottom: 0;
         left: 0;
         background-color: $decorColor;
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.info-tabs {

   &__navigation {
      grid-template-columns: repeat(4, 1fr);
   }
}

.history-tab {
   @include adaptiveValue("padding-left", 403, 15);
   &__content {
      @include adaptiveValue("padding-top", 89, 30);
   }

   &__title {
      @include adaptiveValue("margin-bottom", 72, 20);
   }

   &__text {
      max-width: 723px;
      &_bold {
         max-width: 623px;
         display: flex;
         margin-bottom: 17px;
         flex-direction: column;
         @include adaptiveValue("font-size", 24, 20);
         font-weight: 500;
         line-height: 36px;
         span {
            color: $redColor;
            font-weight: 400;
         }
      }

      &_explanation {
         @include adaptiveValue("font-size", 20, 16);
         font-weight: 400;
         line-height: 23.6px;
         color: #98A3AD;
         &:not(:last-child) {@include adaptiveValue("margin-bottom", 33, 20);}
      }

      &_common {
         font-weight: 400;
         line-height: 30px;
         @include adaptiveValue("font-size", 20, 18);
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.process {
   @include adaptiveValue("padding-top", 100, 30);
   @include adaptiveValue("padding-bottom", 97, 30);

   &__contain {
      max-width: 1100px;
      padding: 0px 15px;
      margin: 0 auto;
   }
   &__title {
      @include adaptiveValue("margin-bottom", 50, 25);
   }

   &__items {
      display: flex;
      flex-direction: column;
      gap: 115px;
      @media (max-width:$tablet){
         @include adaptiveValue("gap", 100, 30);
      }
   }
}

.process-item {
   display: flex;
   align-items: center;
   @include adaptiveValue("gap", 42, 30);
   position: relative;
   @media (max-width:$mobile){
      align-items: stretch;
   }
   &:last-child {
      .process-item__circle {
         &::after{
            display: none;
         }
      }
   }

   &__circle {
      position: relative;
      justify-content:center;align-items: center;
      display: flex;
      background-color: $whiteColor;
      border: 12px solid rgba(226, 234, 238, 30%);
      width: 130px;
      height: 130px;
      border-radius: 50%;
      @media (max-width:$tablet){
         height: 100px;
         flex: 0 0 100px;
      }
      @media (max-width:$mobileSmall){
         display: none;
      }
      &::after{
         font-family: 'icons';
         content: "\e902";
         @include adaptiveValue("font-size", 50, 40);
         display: inline-block;
         color: #E2EAEE;
         text-align: center;
         position: absolute;
         bottom: -76%;
         left: 50%;
         transform-origin: center;
         transform: translate(-50%, 30%);
         @media (max-width:$mobile){
            display: none;
         }
      }
      &::before{
         content:'';
         display: flex;
         justify-content:center;
         align-items: center;
         position: absolute;
         border: 14px solid rgba(226, 234, 238, 60%);
         width: 160px;
         height: 160px;
         top: 50%;
         z-index: -1;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: $whiteColor;
         border-radius: 50%;
         @media (max-width:$tablet){
            display: none;
         }
      }
   }

   &__number {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 400;
      color: $blueColor;
      line-height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &__title {
      @include adaptiveValue("font-size", 24, 22);
      font-weight: 700;
      color: $blueColor;
      line-height: 28.32px;
      margin-bottom: 20px;
      text-transform: uppercase;
   }

   &__description {
      max-width: 750px;
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 400;
      line-height: 30px;
   }
}
// ===========================================================================================
// ===========================================================================================
.mission {
   &__contain {
      max-width: 1100px;
      padding: 0px 15px;
      margin: 0 auto;
   }

   &__content {
      background: url('../img/tabs/mask_1.png');
      background-repeat: no-repeat;
      position: relative;
      @include adaptiveValue("padding-top", 100, 50);
      @include adaptiveValue("padding-bottom", 100, 40);
      &::before,
      &::after {
         content:'';
         position: absolute;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: $decorColor;
      }
      &::before{top: 0;}
      &::after{bottom: 0;}
   }

   &__title {
      @include adaptiveValue("margin-bottom", 48, 15);
   }

   &__text {
      max-width: 1053px;
      &_bold {
         @include adaptiveValue("font-size", 72, 25);
         font-weight: 700;
         line-height: 36px;
         @include adaptiveValue("margin-bottom", 38, 10);
         span {
            color: $blueColor;
         }
      }

      &_regular {
         @include adaptiveValue("font-size", 24, 20);
         font-weight: 400;
         line-height: 36px;
         span {
            &:nth-child(1),
            &:nth-child(2) {
               font-weight: 700;
               @include adaptiveValue("font-size", 36, 23);
            }

            &:nth-child(1) {
               color: $mainColor;
            }
            &:nth-child(2) {
               color: $blueColor;
            }
         }
      }

      &_medium {
         @include adaptiveValue("font-size", 36, 23);
         font-weight: 700;
         line-height: 36px;
         span{
            color: $blueColor;
         }
      }

      &_blue {
         @include adaptiveValue("font-size", 48, 24);
         font-weight: 700;
         line-height: 56.65px;
         color: $blueColor;
         @media (max-width:$mobile){
            line-height: 36px;
         }
         span {
            color: $mainColor;
         }
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.tasks {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 100, 40);

   &__contain {
      max-width: 1100px;
      padding: 0px 15px;
      margin: 0 auto;
   }

   &__title {
      @include adaptiveValue("margin-bottom", 50, 25);
   }

   &__items {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 40, 30);
   }
}
.tasks-item { 
   display: flex;
   @include adaptiveValue("gap", 30, 5);
   position: relative;
   @include adaptiveValue("padding-bottom", 40, 10);
   &:last-child {&::before{display: none;}}
   &::before{
      content:'';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $decorColor;
   }

   &__text {
      max-width: 917px;
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 400;
      line-height: 30px;
   }
}
// ===========================================================================================
// ===========================================================================================
.documentation {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 157, 40);

   &__contain {
      max-width: 1150px;
      margin: 0 auto;
      padding: 0px 15px;
   }

   &__blocks {
      display: flex;
      flex-direction: column;
      gap: 55px;
   }
}

.documentation-block {

   &__title {
      @include adaptiveValue("margin-bottom", 60, 30);
      @media (max-width:$mobile){
         text-align: center;
      }
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("gap", 61, 30);

      @media (max-width:$mobile){
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 32, 10);
      @media (max-width:$mobile){
         align-items: center;
      }
   }

   &__img {
      img {
         max-width: 100%;
         object-fit: cover;
      }
   }

   &__description {
      display: inline-flex;
      text-align: center;
      @include adaptiveValue("font-size", 24, 22);
      font-weight: 700;
      line-height: 28.32px;
   }
}
// ===========================================================================================
// ===========================================================================================
.company {

   &__contain {
      max-width: 1248px;
      margin: 0 auto;
      padding: 0px 15px;
   }

   &__blocks {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 100, 40);
   }
}

// ===================

.company-block {

   &__title {
      @include adaptiveValue("margin-bottom", 44, 25);
   }

   &__text {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 400;
      line-height: 30px;
      span {
         font-weight: 700;
      }
   }
}

.company-description {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 100, 40);
   position: relative;
   &::before{
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $decorColor;
   }
}

// ===================

.company-gazprom {
   @include adaptiveValue("padding-bottom", 91, 50);
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include adaptiveValue("gap", 115, 30);
   @media (max-width:$mobile){
      align-items: stretch;
      flex-direction: column;
   }
   &__img {
      img {
         @media (max-width:$mobile){
            max-width: 100%;
         }
      }
   }

   &__content {
      @include adaptiveValue("padding-left", 110, 30);
      border-left: 1px solid $decorColor;
      @media (max-width:$mobile){
         padding-left: 0px;
         border-left: none;
      }
   }

   &__title {
      color: $blueColor;
      @include adaptiveValue("font-size", 24, 22);
      font-weight: 700;
      line-height: 30px;
   }

   &__text {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 400;
      line-height: 30px;
      max-width: 730px;
   }
}

// ===================

.company-licenses {
   padding: 10px 0px;
   &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("gap", 46, 30);
      @media (max-width:$mobile){
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__item {
      background-color: rgba(152, 163, 173, 10%);
      border-top: 2px solid $blueColor;
      padding: 30px;
      position: relative;
      z-index: 10;
      &::before{
         content:'';
         right: 34px;
         top: 12px;
         position: absolute;
         height: 200px;
         width: 131px;
         background: url("../img/tabs/icon-png.png") no-repeat;
         @media (max-width:$mobile){
            top: 5px;
            right: 20px;
         }
      }
   }

   &__description {
      max-width: 400px;
      position: relative;

   }
}

// ===========================================================================================
// ===========================================================================================
.company-contacts {
   @include adaptiveValue("padding-bottom", 190, 50);

   &__top {
      @include adaptiveValue("margin-bottom", 47, 20);
   }

   &__title {
      margin-bottom: 10px;
   }

   &__description {
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 700;
      line-height: 28.32px;
   }

   &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      @media (max-width: 1035px){
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      @media (max-width:$mobileSmall){
         grid-template-columns: repeat(1, 1fr);
      }
   }
}

.company-contacts-item {
   display: flex;
   @include adaptiveValue("gap", 20, 10);
   width: fit-content;
   @media (max-width:$mobile){
      justify-content: space-between;
   }
   &__img {
      display: flex;
      justify-content:center;
      align-items: center;
      border-radius: 50%;
      width: 54px ;
      height: 54px;
      border: 1px solid $blueColor;
      flex: 0 0 54px;
      img {}
   }

   &__content {
      display: flex;
      flex-direction: column;
      width: fit-content;
   }

   &__address {
      max-width: 316px;
   }
}
// ===========================================================================================
// ===========================================================================================
.financialplan {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 200, 40);
   &__contain {
      padding: 0px 15px;
   }
}
// =====================================Projects======================================================
// =====================================Projects======================================================
// =====================================Projects======================================================
.projects {

   &__body {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 50, 30);
   }

   &__title {
      @include adaptiveValue("padding-left", 84, 1);
      @include adaptiveValue("margin-bottom", 43, 20);
      @media (max-width:$mobile){
         padding-left: 0px;
      }
   }

   &__section {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0px 15px;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("column-gap", 82, 30);
      @include adaptiveValue("margin-bottom", 50, 40);
      padding: 0px 15px;
      row-gap: 30px;
      @media (max-width:$tablet){
         padding: 0px;
         grid-template-columns: repeat(auto-fit, minmax(325px, 1fr))
      }
      @media (max-width:$mobileSmall){
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("column-gap", 59, 30);
      @include adaptiveValue("row-gap", 50, 30);
      @media (max-width:$mobile){
         grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }
      @media (max-width:$mobileSmall){
         gap: 30px;
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
.projects-tabs {
   @include adaptiveValue("padding-bottom", 100, 50);
   &__content {
      @include adaptiveValue("padding-top", 100, 50);
   }
}

.projects-card {
   display: flex;
   flex-direction: column;
   &__img {
      @include adaptiveValue("margin-bottom", 20, 10);
      img {
         max-width: 100%;
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   &__titleblock {
      display: flex;
      gap: 10px;
   }

   &__icon {
      padding-top: 3px;
   }

   &__body {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      @include adaptiveValue("gap", 30, 20);
   }

   &__content {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      padding: 10px 0px;
      position: relative;
      &::before,
      &::after{
         content:'';
         width: 100%;
         height: 1px;
         background-color: $decorColor;
         position: absolute;
         left: 0;
      }
      &::before{
         content:'';
         top: 0;
      }
      &::after{
         content:''; 
         bottom: 0;
      }
   }

   &__title {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 700;
      display: flex;
      flex: 1 1 100%;
      line-height: 23.6px;
      @include adaptiveValue("margin-bottom", 15, 10);
   }

   &__button {
      color: $blueColor !important;
      background-color: inherit;
      padding: 16px 40px;
      border: 2px solid $blueColor;
      @media (any-hover: hover){
         &:hover{
            background-color: $blueColor;
            color: $whiteColor !important;
         }
      }

      &_grey {
         color: #98A3AD !important;
         border: 2px solid #98A3AD;
         @media (any-hover: hover){
            &:hover{
               border: 2px solid #a8ccee;
            }
         }
      }
   }
}

.currentprojects-tabs {
   &__navigation {
      grid-template-columns: repeat(4, 1fr)
   }
}

// ===========================================================================================
// ===========================================================================================
.cases-donate {
   @include adaptiveValue("padding-left", 300, 15);

   &__title {
      @include adaptiveValue("margin-bottom", 40, 30);
   }

   &__text {
      max-width: 739px;
   }
}

.donate-progress {
   padding: 30px 40px;
   @include adaptiveValue("margin-bottom", 45, 25);
   border: 1px solid #E2EAEE;
   @media (max-width:$mobile){
      padding: 10px;
   }

   &__title {
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 700;
      line-height: 28.32px;
      @include adaptiveValue("margin-bottom", 30, 20);
   }
}
// ===========================================================================================
// ===========================================================================================
.donate-block {
   @include adaptiveValue("padding-bottom", 150, 50);
   &__contain {
      max-width: 1030px;
      margin: 0 auto;
      padding: 0px 15px;
   }

   &__title {
      margin-bottom: 10px;
   }
}

.donate-tabs {

   &__navigation {
      grid-template-columns: repeat(3, 1fr);
   }

   &__title {
      text-align: left;
   }
}

// ===========================================================================================
// ===========================================================================================
.sms-donate {
   border: 1px solid $decorColor;
   &__body {
      padding-top: 50px;
      padding-bottom: 52px;
   }

   &__content {
      @include adaptiveValue("padding-top", 50, 30);
      @include adaptiveValue("padding-left", 100, 30);
      @include adaptiveValue("padding-right", 100, 30);
      @media (max-width:$mobile){
         padding: 30px 10px 0px 10px;
      }
   }

   &__smscode {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 23px;

   }

   &__title {
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 700;
      line-height: 42px;
      text-align: center;
   }

   &__number {
      padding: 19px 33px;
      display: flex;
      align-items: center;
      gap: 13px;
      border: 1px solid $blueColor;
      background-color: rgba(0, 167, 216, 10%);
      margin-bottom: 30px;
      @include adaptiveValue("margin-right", 10, 1);
      span {
         @include adaptiveValue("font-size", 36, 25);
         font-weight: 700;
         line-height: 28px;
         color: $blueColor;
      }
      img {
         width: 36px;
         height: 18px;
      }
   }

   &__description {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      @include adaptiveValue("padding-bottom", 30, 15);
      position: relative;
      margin-bottom: 30px;
      &::before{
         content:'';
         width: 26%;
         height: 2px;
         background-color: $decorColor;
         position: absolute;
         bottom: 0;
         left: 38%;
      }
      &_red {
         font-weight: 500;
         color: $redColor;
      }

      &_bold {
         font-weight: 500;
      }
   }

   &__rules {
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(152, 163, 173, 1);
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}

.sms-donate-operators {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 15px;
   position: relative;
   @include adaptiveValue("padding-bottom", 50, 30);
   &::before{
      content:'';
      width: 90%;
      height: 2px;
      background-color: $decorColor;
      bottom: 0;
      left: 5%;
      position: absolute;
   }
   @media (max-width: 400px){
      justify-items: center;
      gap: 30px;
      grid-template-columns: repeat(1, 1fr);
   }
   &__item {
      display: flex;
      justify-content:center;align-items: center;
      border-right: 2px solid $decorColor;
      @media (max-width: 400px) {
         border-right: none;
         justify-content: stretch;
         align-content: center;
      }
      &:not(:last-child) {@include adaptiveValue("padding-right", 64, 20);}
      img {
         max-width: 100%;
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.donate-tabs {
   &__body {
      @include adaptiveValue("padding-top", 50, 30);
   }
}
// ===========================================================================================
// ===========================================================================================
.donate-form {
   padding: 50px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-flow: row;
   border: 1px solid rgba(226, 234, 238, 1);
   @media (max-width:$mobile){
      padding: 15px;
      gap: 50px;
      grid-template-columns: repeat(1, 1fr);
   }
}
/*Левая сторона формы*/

.form-left {
   @include adaptiveValue("padding-right", 50, 20);
   border-right: 1px solid $decorColor;
   @media (max-width:$mobile){
      padding-right: 0px;
      border-right: 0px;
   }
   &__content {
      display: flex;
      flex-direction: column;
      @media (max-width:$mobile){
         align-items: center;
      }
   }
}

.donation-form-sum {
   @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
   }
   &__label {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.88px;
      color: rgba(152, 163, 173, 1);
      margin-bottom: 14px;
      display: block;
   }

   &__field {
      padding: 13px;
      display: flex;
      width: fit-content;
      align-items: center;
      border: 1px solid rgba(152, 163, 173, 1);
      margin-bottom: 20px;
      @media (max-width:$mobileSmall){
      }

      input {
         width: 100%;
         padding: 0px;
         border: 0px;
      }
   }

   &__currency {
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 700;
      line-height: 21.24px;
      @include adaptiveValue("padding-left", 13, 8);
      border-left: 1px solid rgba(152, 163, 173, 1);
   }

   &__options {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      @include adaptiveValue("margin-bottom", 28, 20);
      @media (max-width:$mobileSmall){
         justify-content:center;align-items: center;
      }
   }

   &__btn {
      background: rgba(0, 167, 216, 1);
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 700;
      line-height: 21.24px;
      color: $whiteColor;
      width: 67px;
      height: 33px;
      &_active {
         background-color: inherit;
         color: #D62246;
         border: 2px solid #D62246;
      }
   }

   &__frequency {
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 62, 30);
      label {
         display: flex;
         gap: 10px;
         align-items: center;
      }

      input {
         width: 24px; 
         height: 24px;
         background-color: 1px solid rgba(0, 167, 216, 1);
      }

      span {
         @include adaptiveValue("font-size", 20, 16);
         font-weight: 400;
         line-height: 30px;
      }
   }
}


.form-left-progress {
   padding: 0px 0px 30px 0px;
   border: 0px;
   position: relative;
   @media (max-width:$mobile){
      display: none;
   }
   &::before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $decorColor;
      bottom: 0;
      left: 0;
   }
}

/*Правая сторона формы*/

.form-right {
   @include adaptiveValue("padding-left", 50, 20);
   border-left: 1px solid $decorColor;
   @media (max-width:$mobile){
      padding-left: 0px;
      border-left: 0px;
   }
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiveValue("gap", 33, 30);
      @include adaptiveValue("margin-bottom", 37, 25);
   }

   &__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include adaptiveValue("width", 398, 100);
      @media (max-width:$mobile){
         width: 100%; 
      }
   }

   &__input {
      width: 100%;
      input {}
   }

   &__banks {
      display: flex;
      gap: 15px;
      @media (max-width:$tablet){
         flex-wrap: wrap;
         justify-content: center;
            align-items: center;
      }
      @media (max-width:$mobile){
      }
   }
}

.form-right-agreement {
   &__input {
      display: none;
      &:checked + .form-right-agreement__label::after {
         transform: scale(1);
      }
   }

   &__label {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content:center;align-items: center;
      &:checked + .popup-form-agreement__label::after {
         transform: scale(1);
      }
      &::before{
         content:'';
         flex: 0 0 24px;
         height: 24px;
         background-color: #fff;
         border: 1px solid rgba(152, 163, 173, 1);
         margin: 0px 10px 0px 0px;
      }
      &::after{
         transition: all 0.3s;
         content:'';
         width: 16px;
         height: 16px;
         position: absolute;
         
         left: 4px;
         background-color: #B0B0B0;
         display: inline-block;
         transform: scale(0);
         transition: all 0.3s ease 0s;
         background: url("../img/common/checkbox.svg") center / 100% no-repeat;
      }

      span {
         width: 100%;
         display: block;
         font-size: 16px;
         font-weight: 400;
         line-height: 18.88px;
      }

      a {
         color: $blueColor;
      }
   }
}

/*Текст снизу*/

.payment-terms {
   @include adaptiveValue("padding-top", 50, 40);
   &__body {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 50, 30);
   }
}

.payment-terms-item {
   display: flex;
   flex-direction: column;
   gap: 16px;

   &__title {
      color: rgba(152, 163, 173, 1) !important;
      @include adaptiveValue("margin-bottom", 25, 10);
   }

   &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(152, 163, 173, 1);
   }

   &__disclaimer {
      @include adaptiveValue("padding", 25, 5);
      background-color: rgba(226, 234, 238, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      span {
         font-weight: 700;
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.news-page {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 200, 50);

   &__title {
      @include adaptiveValue("margin-bottom", 50, 30);
   }
}

.swiper-news {
   &__wrapper {
      @include adaptiveValue("margin-bottom", 104, 40);
   }

   &__slide {
      display: flex;
      overflow: hidden;
   }
}

.swiper-news-body {
   width: 100%;
   &__container {
      padding: 0px;
   }

   &__content {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 73, 40);
   }
}

.swipertabs-control {

   &__container {
      justify-content:center;align-items: center;
      display: flex;
   }

   &__content {
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 81, 30);
   }

   &__pagination {
      display: flex;
      @include adaptiveValue("gap", 20, 10);
      @media (max-width:$mobileSmall){
         display: none;
      }

      .swipetabs-pagination-bullet {
         cursor: pointer;
         width: 45px;
         height: 45px;
         text-align: center;
         display: flex;
         justify-content:center;align-items: center;
         border-radius: 50%;
         background-color: $whiteColor;
         color: $mainColor;
         font-size: 20px;
         font-weight: 500;
         line-height: 23.6px;
         font-family: $fontFamily;
      }

      .swipetabs-pagination-bullet-active {
         color: $whiteColor;
         background-color: $blueColor;
      }
   }

   &__prev {transform: scaleX(-1);}

   &__prev,
   &__next {
      @include adaptiveValue("font-size", 21, 18);
      color: rgba(226, 234, 238, 1);
   }
}
// ===========================================================================================
// ===========================================================================================
.contacts {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 200, 50);
   display: flex;
   justify-content:center;align-items: center;
   @media (max-width:$mobile){
      display: block;
   }

   &__title {
      @include adaptiveValue("margin-bottom", 67, 30);
   }

   &__content {
      display: flex;
      @media (max-width:$mobile){
         flex-direction: column;
         gap: 30px;
      }
      &:not(:last-child) {@include adaptiveValue("margin-bottom", 124, 40);}
   }
}

.contacts-info {
   display: flex;
   flex-direction: column;
   @include adaptiveValue("padding-right", 55, 1);
   @media (max-width:$mobile){
      padding-right: 0px;
   }
   &__title {
      @include adaptiveValue("font-size", 24, 20);
      font-weight: 700;
      line-height: 28.32px;
      @include adaptiveValue("margin-bottom", 30, 20);
   }

   &__body {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("gap", 41, 20);
   }

   &__item {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__icon {
      flex: 0 0 64px;
      height: 64px;
      border-radius: 50%;
      border: 1px solid $blueColor;
      display: flex;
      justify-content:center;
      align-items: center;
   }

   &__description,
   &__phone,
   &__mail {
      @include adaptiveValue("font-size", 20, 16);
      max-width: 300px;
      font-weight: 400;
      line-height: 30px;
   }

   &__text {
      max-width: 488px;
   }
}

.contacts-details {
   flex-direction: column;
   display: flex;
   border-left: 2px solid $decorColor;
   @include adaptiveValue("padding-left", 55, 1);
   @media (max-width:$mobile){
      border-left: 0px;
      padding-left: 0px;
   }
   &__name {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 500;
      line-height: 30px;
      color: $blueColor;
      margin-bottom: 10px;
   }

   &__description {
      @include adaptiveValue("font-size", 20, 16);
      font-weight: 400;
      line-height: 30px;
      max-width: 420px;
   }
}
// ===========================================================================================
// ===========================================================================================
.company-slider {
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 100, 50);
   &__content {
      position: relative;
   }

   &__body {
      display: flex;
   }
}

.company-slider-top {
   @include adaptiveValue("margin-bottom", 113, 80);
   &__container {
      display: flex;
      justify-content: space-between;
   }

   &__pagination {
      .company-swiper-pagination-bullet {
         background-color: rgba(226, 234, 238, 1);
      }

      .company-swiper-pagination-bullet-active {
         background-color: inherit;
         border: 2px solid rgba(226, 234, 238, 1);;
         &::before{
            content:'';
            display: none;
         }
      }

      .swiper-pagination-bullet-active .hero-bullet-number_blue {
         color: $blueColor;

      }
   }
}

.company-philanthropists {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
   @include adaptiveValue("gap", 65, 30);

   @media (max-width:$mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
   }

   &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include adaptiveValue("gap", 45, 20);
   }

   &__img {
      display: flex;
      flex: 1 1 auto;
      min-height: 70px;

      img {
         max-width: 100%;
      }
   }

   &__description {
      display: flex;
      flex: 1 1 100%;
      text-align: center;
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 400;
      line-height: 21.24px;
      color: rgba(152, 163, 173, 1);
   }
}

.company-slider-navigation {
   position: absolute;
   width: 100%;
   top: 70%;
   left: 0;
   @media (max-width: 1230px){
      top: 28%;
   }
   @media (max-width:$mobile){
      top: 25%;
   }
   @media (max-width:$mobileSmall){
      top: 15%;
   }
   &__container {
      max-width: 1650px;
      margin: 0 auto;
   }

   &__content {
      position: relative;
      display: flex;
   }

   &__prev,
   &__next {
      position: absolute;
      z-index: 10;
      font-size: 15px;
      top: 0%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $decorColor;
   }

   &__prev {
      transform: scaleX(-1);
      left: 0%;
   }

   &__next {
      right: 0%;
   }
}

// ===========================================================================================
// ===========================================================================================
.philanthropists-slider {
   @include adaptiveValue("padding-bottom", 200, 50);

   &__slide {
      .management {
         padding-top: 0px;
      }
   }
}
// ===========================================================================================
// ===========================================================================================
.how-to-invest {

   &__container {
      max-width: 1550px;
   }

   &__title {
      @include adaptiveValue("margin-bottom", 57, 30);
      @include adaptiveValue("margin-left", 253, 1);
      @media (max-width:$mobile){
         margin-left: 0px;
      }
   }

   &__inner {
      display: flex;
      justify-content: center;
      overflow: hidden;
      height: 530px;
      position: relative;
      @media (max-width:$tablet){
         height: auto;
         overflow: auto;
      }
   }

   &__circle {
      width: 69vw;
      height: 69vw;
      border: 1px solid rgba(226, 234, 238, 1);
      border-radius: 50%;
      @media (max-width:$tablet) {
         border: none;
         width: 100%;
         height: auto;
      }
   }

   &__blocks {
      @media (max-width:$tablet){
         margin-top: 10px;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(342.88px, 1fr));
         justify-items: center;
         @include adaptiveValue("gap", 40, 30);
      }
      @media (max-width:$mobileSmall){
         grid-template-columns: 1fr;
      }
   }
}

.howtoinvest-blocks-item {
   position: absolute;
   z-index: 5;
   display: inline-flex;
   flex-direction: column;
   justify-content:center;
   width: fit-content;
   @media (max-width:$tablet){
      position: static;
      display: flex;
      align-items: center;
      justify-content: stretch;
   }
   &:nth-child(1){
      left: 9%;
      bottom: 18%;
   }
   &:nth-child(2){
      left: 25%;
      top: 8px;
   }
   &:nth-child(3){
      left: 66%;
      top: 8px;
   }
   &:nth-child(4){
      /*
      right: percent(10, 1200);
      bottom: percent(84, 1200);
      */
      right: 3%;
      bottom: 18%;
      .howtoinvest-blocks-item__text {
         max-width: 150px;
      }
   }
   @media (max-width: 1100px){
      &:nth-child(2) {
         left: 23%;
      }
   }
   
   @media (max-width:$tablet){
      
   }

   &__img-block {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: $whiteColor;
      position: relative;
      border: 12px solid rgba(226, 234, 238, 30%);
      &::before{
         content:'';
         width: 130px;
         height: 130px;
         position: absolute;
         background: rgba(226, 234, 238, 20%);
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         display: flex;
         justify-content:center;
         align-items: center;
         text-align: center;
         border-radius: 50%;
      }
   }

   &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &__number {
      position: absolute;
      top: -13px;
      right: 0;
      width: 30px;
      height: 30px;
      background-color: #f7f7f7;
      justify-content:center;
      align-items: center;
      text-align: center;
      display: flex;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 700;
      line-height: 18.88px;
      color: $whiteColor;
      background-color: $redColor;
   }

   &__text-block {
      position: relative;
      @include adaptiveValue("margin-top", -40, 1);
      @include adaptiveValue("margin-left", 80, 1);
      @media (max-width:$tablet){
         text-align: center;
         margin-top: 10px;
         margin-left: 0px;
      }
   }

   &__text {
      max-width: 264px;
      @include adaptiveValue("font-size", 16, 13);
      font-weight: 400;
      line-height: 24px;
      min-height: 72px;
   }
}

.howtoinvest-blocks-foncircle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: url("../img/results/mask_1.png") center / cover no-repeat;
   @media (max-width:$tablet){
      display: none;
   }
}
// ===========================================================================================
// ===========================================================================================
// ===========================================================================================
// ===========================================================================================
// ===========================================================================================
// ===========================================================================================